---
import BackgroundImage from "../../assets/images/TF_Banner_image.jpg";
import ProjectIcon from "./ProjectIcon.astro";

const { title, icons } = Astro.props!;

const iconContainerClasses = `w-${icons.length * 24}  h-24`;
---

<section class:list={["hero-background", "h-56 sm:h-48"]}>
  <div
    class="max-w-5xl flex gap-2 flex-row flex-wrap justify-between items-center mx-auto h-full px-10"
  >
    <h1 class="text-inherit text-3xl text-white text-left font-bold py-4">
      {title}
    </h1>
    <div
      class:list={["flex justify-start aspect-square", iconContainerClasses]}
    >
      {
        icons.map((icon: string) => (
          <div class="relative basis-full">
            <ProjectIcon title={icon} textClass="text-xs" />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style define:vars={{ backgroundUrl: `url(${BackgroundImage.src})` }}>
  .hero-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      var(--backgroundUrl);
    background-position: center;
    object-fit: cover;
  }
</style>
