---
import type { CollectionEntry } from "astro:content";
type Props = { links: CollectionEntry<"projects">["data"]["links"] };
const { links } = Astro.props;
---

<ul class="p-0 m-0">
  {
    links.map((link) => (
      <a href={link.url}>
        <li class="bg-neutral-200 px-2 py-4 m-0 mb-4 flex flex-col xl:flex-row xl:items-center gap-2">
          <div
            class:list={[
              "uppercase font-bold text-center py-2 px-8 bg-black text-white m-0 hover:scale-[1.03]",
              link.button_style,
            ]}
          >
            {link.title}
          </div>
          <span class="m-0 text-center hover:underline">{link.text}</span>
        </li>
      </a>
    ))
  }
</ul>
