@media (max-width: 1200px) {
  #brand-image {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
  }
}
#wrapper {
  .latest_posts {
    ul {
      margin-left: 0px;
      list-style: none;
      padding-left: 0;
      li {
        margin-top: 10px;
        color: white;
      }
    }
  }
  .useful_links {
    ul {
      li {
        margin-top: 20px;
      }
    }
  }
  .cta {
    .btn {
      border-radius: 0px;
      padding: 20px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
    }
  }
  .cta_wrapper {
    background-color: #d9d9d9;
    color: black;
    font-size: 18px;
    .link_type {
      display: inline-block;
      padding: 5px 50px;
      background-color: #000;
      color: white;
      margin: 10px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  .project_header {
    height: 120px;
    @include media-breakpoint-down(md) {
      height: 240px;
    }
    h1 {
      font-size: 30px !important;
      font-weight: bold !important;
    }
    svg {
      height: 80px;
      float: right;
      margin: 0 5px;
    }
  }
  svg:hover .cls-1 {
    transform: scale(1.2);
    transform-origin: 40px 40px;
  }
  .cls-1 {
    transition: all 200ms ease-in-out;
  }
  .grey_top_bottom_borders {
    border-top: 5px dotted lightgray;
    border-bottom: 5px dotted lightgray;
  }
}
.overlay-opacity-5 {
  filter: alpha(opacity=60);
  opacity: 0.5;
}
.section-overlay {
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 700px;
  width: 100%;
  z-index: -100;
}
.bg-black {
  background-color: #000;
}
#main-navigation.navbar-static button.navbar-toggle {
  position: static;
}
#wrapper .padded {
  padding: 20px;
}
#main-navigation div#navbar-collapse {
  z-index: 1;
}
#wrapper .panel-heading {
  border-radius: 0px;
  border: 1px solid #ffffff;
}
// CSS for the email button.
#wrapper .email {
  height: 50px;
  background-color: $primary;
  width: 200px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  border: 1px solid #9e9e9e;
  margin-left: auto;
  margin-right: auto;
  transition: all 200ms ease;
}
#wrapper .email:hover {
  background-color: #3a3a3a;
  border: 1px solid #000000;
  color: white;
}
#wrapper .panel-heading {
  border: none;
}
html {
  height: 100%;
}
// @media(min-width: $screen-sm-min){
//     #wrapper footer .footer-main .contact-details address a.email {
//         font-size: 14px;
//     }
// }
@media (max-width: 440px) {
  #wrapper footer .footer-main .contact-details address a.email {
    font-size: 14px;
  }
}
#wrapper .email {
  width: auto;
}
.member_image {
  height: 100px;
  width: auto;
  object-fit: contain;
}
.members_row h2 {
  text-align: left !important;
}

article.post-content img {
  width: auto;
  height: auto;
}
#wrapper {
  .jumbotron {
    .header_background_image {
      filter: brightness(0.4);
    }
    .inner_content_wrapper img {
      height: 200px;
      width: auto;
    }
  }
}
