---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"pages">["data"]["hero"];

const { title, background_image, style, inner_image } = Astro.props!;

---

<section
  class:list={[
    "hero-background",
    "flex flex-col items-center text-white justify-around px-5 ",
    title ? "h-96" : "h-48",
    style,
  ]}
>
  {inner_image ?  <Image
    src={inner_image.src}
    alt={inner_image.alt}
    class="w-64"
  /> : <></>}
  <h1 class="text-inherit text-3xl lg:text-5xl text-left font-medium">{title}</h1>
</section>

<style define:vars={{ backgroundUrl: background_image ? `url(${background_image.src})` : `` }}>
  .hero-background {
    background: lightgray;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      var(--backgroundUrl);
    background-position: center;
    object-fit: cover;
  }
</style>

