@tailwind base;
@tailwind components;
@tailwind utilities;
 


@layer base {
	h3 {
		font-size: 1.75rem;
		font-weight: bold;
	}
	h2 {
		font-size: 2rem;
	}
	strong {
		font-weight: bold;
	}
	
}

@layer utilities {
	.nav-hover {

		:before {
			@apply w-0 lg:bg-customturquoise content-[""] bottom-0 h-0.5 block absolute left-[50%] duration-150 
		}
		:before:hover {
				@apply w-full left-0
		}

	}
}