---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
const members = await getEntry("data", "members");

const tiers = [
  {
    type: "diamond",
    title: "Diamond Members",
  },
  {
    type: "platinum",
    title: "Platinum Members",
  },
  {
    type: "general",
    title: "General Members",
  },
];
---

<section
  class="border-t-8 border-dotted border-gray-300 pt-8 mt-8 max-w-6xl mx-auto px-0"
>
  {
    tiers.map(({ type, title }) => (
      <div>
        <h3 class="text-center font-normal py-2 text-3xl my-6">{title}</h3>
        <ul class="flex flex-wrap justify-center items-center gap-10 list-none px-0 p-0">
          {members.data
            .filter((member: any) => member.type === type)
            .map((member: any) => (
              <li>
                <a href={member.url} target="_blank">
                  <Image
                    src={member.image}
                    alt={member.name}
                    class="w-48 p-0"
                  />
                </a>
              </li>
            ))}
        </ul>
      </div>
    ))
  }
</section>
