---
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

    <div class="grid grid-cols-12 p-12 place-around">
  {
    projects.sort((project1,project2) => project1.data.sort_key- project2.data.sort_key).map(({slug, data: {title}}) => (
      <div class="col-span-6 sm:col-span-4 xl:col-span-2 relative cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.64 79.49" >
          <defs><style>.cls-1{fill:#11a9d4;opacity:0.8;}.cls-2,.cls-3{fill:#fff;}.cls-3{font-size:12.4px;font-family:Lato-Bold, Lato;font-weight:700;letter-spacing:0.03em;}.cls-4{letter-spacing:0.02em;}.cls-5{letter-spacing:0.03em;}</style></defs>
          <g id="Layer_1" data-name="Layer 1">
            <path
              class="cls-2"
              d="M71.64,73.4H8.16a1.93,1.93,0,0,1-1.92-1.92V8A1.93,1.93,0,0,1,8.16,6.09H71.64A1.92,1.92,0,0,1,73.56,8V71.48A1.92,1.92,0,0,1,71.64,73.4ZM8.16,7.37A.64.64,0,0,0,7.52,8V71.48a.64.64,0,0,0,.64.64H71.64a.64.64,0,0,0,.64-.64V8a.64.64,0,0,0-.64-.64Z"
            />
            <path
              class="cls-2"
              d="M33.12,6.83a.64.64,0,0,1-.64-.64V.64A.64.64,0,0,1,33.12,0a.64.64,0,0,1,.64.64V6.19A.64.64,0,0,1,33.12,6.83Z"
            />
            <path
              class="cls-2"
              d="M46.38,6.83a.64.64,0,0,1-.64-.64V.64A.64.64,0,0,1,46.38,0,.64.64,0,0,1,47,.64V6.19A.64.64,0,0,1,46.38,6.83Z"
            />
            <path
              class="cls-2"
              d="M59.64,6.83A.64.64,0,0,1,59,6.19V.64a.64.64,0,0,1,1.28,0V6.19A.64.64,0,0,1,59.64,6.83Z"
            />
            <path
              class="cls-2"
              d="M19.85,6.83a.64.64,0,0,1-.64-.64V.64A.64.64,0,0,1,19.85,0a.64.64,0,0,1,.64.64V6.19A.64.64,0,0,1,19.85,6.83Z"
            />
            <path
              class="cls-2"
              d="M59.64,79.49a.64.64,0,0,1-.64-.64V73.3a.64.64,0,0,1,1.28,0v5.55A.64.64,0,0,1,59.64,79.49Z"
            />
            <path
              class="cls-2"
              d="M19.85,79.49a.64.64,0,0,1-.64-.64V73.3a.64.64,0,0,1,.64-.64.64.64,0,0,1,.64.64v5.55A.63.63,0,0,1,19.85,79.49Z"
            />
            <path
              class="cls-2"
              d="M6.19,47H.64A.64.64,0,0,1,0,46.38a.64.64,0,0,1,.64-.64H6.19a.64.64,0,0,1,.64.64A.64.64,0,0,1,6.19,47Z"
            />
            <path
              class="cls-2"
              d="M6.19,33.76H.64A.64.64,0,0,1,0,33.12a.64.64,0,0,1,.64-.64H6.19a.64.64,0,0,1,.64.64A.64.64,0,0,1,6.19,33.76Z"
            />
            <path
              class="cls-2"
              d="M6.19,20.49H.64A.64.64,0,0,1,0,19.85a.64.64,0,0,1,.64-.64H6.19a.64.64,0,0,1,.64.64A.64.64,0,0,1,6.19,20.49Z"
            />
            <path
              class="cls-2"
              d="M6.19,60.28H.64A.64.64,0,0,1,.64,59H6.19a.64.64,0,0,1,0,1.28Z"
            />
            <path
              class="cls-2"
              d="M79,47H73.46a.64.64,0,1,1,0-1.28H79A.64.64,0,0,1,79,47Z"
            />
            <path
              class="cls-2"
              d="M79,33.76H73.46a.64.64,0,1,1,0-1.28H79a.64.64,0,0,1,0,1.28Z"
            />
            <path
              class="cls-2"
              d="M79,20.49H73.46a.64.64,0,0,1,0-1.28H79a.64.64,0,0,1,0,1.28Z"
            />
            <path
              class="cls-2"
              d="M79,60.28H73.46a.64.64,0,0,1,0-1.28H79a.64.64,0,0,1,0,1.28Z"
            />
            <path
              class="cls-2"
              d="M46.38,79.49a.63.63,0,0,1-.64-.64V73.3a.64.64,0,0,1,.64-.64.64.64,0,0,1,.64.64v5.55A.64.64,0,0,1,46.38,79.49Z"
            />
            <a href={`/projects/${slug}`}>
            <g>
              <rect
                 class="cls-1 hover:scale-[1.16] origin-center ease-in-out transition duration-300"
                x="12.13"
                y="12.05"
                width="55.39"
                height="55.39"
              />
              <path
                class="cls-2"
                d="M33.12,79.49a.63.63,0,0,1-.64-.64V73.3a.64.64,0,0,1,.64-.64.64.64,0,0,1,.64.64v5.55A.64.64,0,0,1,33.12,79.49Z"
              />

            </g>
        </a>
          </g>
        </svg>
      
        <div class="absolute w-full h-full top-0 left-0 right-0 bottom-0 mx-auto my-auto flex items-center justify-center text-white p-12  pointer-events-none " >
        <p class="text-center break-words text-xl sm:text-3xl font-bold">{title.includes("(") ? title.replace( /(^.*\(|\).*$)/g, '' ) : title}</p>
            </div>
      </div>
    ))
  }
</div>

<style lang="scss"></style>
