---
import { getCollection } from "astro:content";
import ProjectIcon from "../projects/ProjectIcon.astro";
const { text_class, container_class, section_class } = Astro.props;
const projects = await getCollection("projects");
---

<section class:list={["flex flex-wrap justify-center", section_class]}>
  {
    projects
      .sort(
        (project1, project2) => project1.data.sort_key - project2.data.sort_key
      )
      .map(({ slug, data: { title } }) => (
        <div class:list={["relative cursor-pointer", container_class]}>
          <ProjectIcon title={title} slug={slug} textClass={text_class} />
        </div>
      ))
  }
</section>
