---
const {
  style,
  title_content: { text, size, style: text_style },
} = Astro.props;
import * as marked from "marked";
marked.setOptions({
  renderer: new marked.Renderer(),
});
const markdown = marked.parse(text);
const Element = size;
---

<div class:list={["x", style]}>
  <Element set:html={markdown} class:list={["m-0", text_style]} />
</div>
