
---
import IconButton from "@/components/icon_button/IconButton.astro";
---

<table class="w-full border border-gray-300">
<thead class="bg-green-600 text-white">
<tr>
<th class="px-4 py-2 border border-gray-300">Project</th>
<th class="px-4 py-2 border border-gray-300">Patch</th>
<th class="px-4 py-2 border border-gray-300">Daily</th>
<th class="px-4 py-2 border border-gray-300">Weekly</th>
<th class="px-4 py-2 border border-gray-300">MISRA</th>
<th class="px-4 py-2 border border-gray-300">Static Analysis</th>
<th class="px-4 py-2 border border-gray-300">Code Coverage</th>
</tr>
</thead>
<tbody>
<tr class="bg-gray-100"><td class="px-4 py-2 border border-gray-300">TF-A</td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td></tr>
<tr class="bg-gray-100"><td class="px-4 py-2 border border-gray-300">TF-M</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td></tr>
<tr class="bg-gray-100"><td class="px-4 py-2 border border-gray-300">Hafnium</td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td></tr>
<tr class="bg-gray-100"><td class="px-4 py-2 border border-gray-300">Mbed TLS</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle">No jobs configured</td><td class="px-4 py-2 border border-gray-300 text-center align-middle"><div class="flex justify-center items-center"><IconButton icon="cross" /></div><p>Latest build: N/A<br>Average pass rate: 0%</p></td></tr>
</tbody>
</table>
