---

import '@fontsource/lato';
// import NavBar from '../components/Nav/NavBar.astro';
import "../styles/global.scss"
import { getCollection, getEntry } from 'astro:content';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import Jumbotron from '../components/Jumbotron.astro'
import NavBar from "@components/nav/NavBar.astro"

const rowComponents = {} as Record<string, {default: AstroComponentFactory}>

for  (const rowData of  await getCollection("rows")) {
    rowComponents[rowData.slug] = await import(rowData.data.path.replace("@components", "../components"))
}

const sectionComponents = {} as Record<string, {default: AstroComponentFactory}>

for  (const sectionData of  await getCollection("sections")) {
    sectionComponents[sectionData.slug] = await import(sectionData.data.path.replace("@components", "../components"))
}

const {
  content: { title, flow, jumbotron },
} = Astro.props;

console.log(jumbotron)

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <main class="">
    <Jumbotron {...jumbotron} />
      {
        flow.map((row: any) => {
          const { row: component, sections, ...rowProps } = row
          const RowComp = rowComponents[component].default;
          return RowComp ? (
            <div class="py-2.5 w-full">
            <RowComp {...rowProps}>
              {sections ? sections.map((section: any) => {
                const {component, ...sectionProps} = section
                const SectionComp = sectionComponents[component].default
                return SectionComp ? <SectionComp {...sectionProps} /> : <div>Not implemented</div>
              }) : <></>}
            </RowComp>
          </div>
          ) : <div>Not implemented</div>;
        })
      }
    </main>
    <!-- <Footer /> -->
  </body>
</html>
